
    #planoDeFundo {
        background-color: rgb(179, 175, 175);
        margin: 5px;
    }

    img,
    .foto_perfil,
    #descrição,
    p,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais {
        border-radius: 15%;
        text-align: center;
        
    }
    .botão {
        color: rgb(211, 50, 44);
        line-height: 1cm;
        
    }

    h1 {
        color: darkblue;
        font-style: italic;
        font-family: unset;
        text-align: center;
    }



    #descrição {
        color: rgba(3, 2, 49, 0.719);
        font-family: Arial, Helvetica, sans-serif;
        

    }

    h2,
    #descrição {
        color: rgb(52, 116, 52);
    }


    #descrição,
    .indicadores,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais {
        background-color: rgb(178, 228, 211);
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    p,
    .descrição_habilidades,
    .descrição_tecnicas,
    .links_recomendados {
        color: darkblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .destaques {
        color: rgb(39, 39, 83);
        font-size: 20px;
    }
    .voltar_ao_topo{
    color: rgb(39, 39, 83);
    font-size: 20px;
    }
    
