
    #planoDeFundo {
        background-color: rgb(2, 2, 2);
       
    }
    .fundoFull {
        margin: auto;
        border: 5px solid rgb(3, 3, 3);
        border-top: 5px solid rgb(0, 9, 63);
        
    }    
    
    img,
    .foto_perfil,
    #descrição,
    p,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais {
        border-radius: 15%;
        text-align: center;
    }
        
    img,
    #descrição,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais,
    .indicadores{
        border: 6px ridge blue;
    }
    
    .botão  {
        color: rgb(35, 26, 167);
        line-height: 1cm;
        margin-right: 50px;
        font-family: monospace;
        }

    h1 {
        color: darkblue;
        font-style: italic;
        font-family: unset;
        text-align: center;
    }



    #descrição {
        color: rgba(118, 247, 139, 0.719);
        font-family: Arial, Helvetica, sans-serif;
        
         }

   
    #descrição,
    .indicadores,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais {
        background-color: rgb(178, 228, 211);
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
    }

    p,
    .descrição_habilidades,
    .descrição_tecnicas {
        color: rgb(58, 228, 52);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .destaques {
        color: rgb(48, 134, 233);
        font-size: 20px;
    }
    
    .links_recomendados {
        background-color: rgb(221, 32, 149);
        color: rgb(3, 48, 85);
        font-size: 20px;
        margin-right: 90px;
        font-family: monospace;  
        padding: 5px;  
        border-radius: 20%;
        
        
        }
    .voltar_ao_topo{
    color: rgb(253, 62, 4);
    font-size: 20px;
    margin-left: 100px;
    }
    

    .foto_perfil {
        width: 250px;
            top: 20px;
            left: 10px;
            z-index: 1;
            
    }

   
    p {
        position: absolute;
        top: 200px;
        left: 250px;
        z-index: 2;
        text-align: left;
        padding: 10px;
    }
    a:hover {
        background-color: deepskyblue;
    }
