
  
       
    
    .fundoFull {
        margin: auto;
        
        border-top: 5px solid rgb(0, 9, 63);
        
    }    
    
    img,
    .foto_perfil,
    #descrição,
    p,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais {
        border-radius: 15%;
        text-align: center;
    }
        
    
    #descrição,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    
    #tecnicas,
    #blogs_e_sites_recomendados,
    
    .indicadores{
        border: 6px ridge rgb(219, 219, 252);
    }
    
    .botão  {
        color: rgb(35, 26, 167);
        line-height: 1cm;
        margin-right: 50px;
        font-family: monospace;
        }

    h1 {
        color: darkblue;
        font-style: italic;
        font-family: unset;
        text-align: center;
        font-size: 40px;
    }



    #descrição {
        color: rgba(118, 247, 139, 0.719);
        font-family: Arial, Helvetica, sans-serif;
        
         }

   
    #descrição,
    .indicadores,
    #habilidades,
    #tecnicas,
    #blogs_e_sites_recomendados,
    .Paginas_pessoais {
        
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
    }

    p,
    .descrição_habilidades,
    .descrição_tecnicas {
        color: rgb(1, 19, 0);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 20px;
    }

    .destaques {
        color: rgb(48, 134, 233);
        font-size: 20px;
    }
    
    .links_recomendados {
       
        color: rgb(3, 48, 85);
        font-size: 20px;
        margin-right: 90px;
        font-family: monospace;  
        padding: 5px;  
        border-radius: 20%;
        
        
        }
    .voltar_ao_topo{
    color: rgb(255, 7, 7);
    font-size: 20px;
    margin-left: 5px;
    }
    

    .foto_perfil {
        width: 250px;
        
            top: 20px;
            left: 10px;
            z-index: 1;
            
    }

   
    p {
        position: absolute;
        top: 200px;
        left: 250px;
        z-index: 2;
        text-align: left;
        padding: 10px;
    }
    a:hover {
        background-color: rgb(174, 198, 206);
    }

    body {
        background-image: url("https://previews.123rf.com/images/stokkete/stokkete1504/stokkete150400023/38570405-businessman-working-at-office-desk-and-using-a-digital-tablet-computer-laptop-and-various-objects-al.jpg");
    }


/* 
    height: 250px;
margin-top: 9%;
background-image: URL(images/bg1.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.list-selection-left {
float: left;
width: 30%;
/* overflow */
/* 
.list-selection-center {
display: inline-block;
margin: 15px 0px 5px 55px;
}

.list-selection-right {
float: right;
width: 30%;
height: 100%;
}    */



